:root {
    --primary: #144E62;
    --secondary: #0b86b7;
    --tertiary: #ffffff;
    --black: #272e31;
}

/*  
.dark-mode {
    --primary: #282c35;
    --secondary: #fff;
    --tertiary: #fff;
  } */

html, body {
    overflow: hidden; 
    height: 100%; /* Ensures the page doesn't exceed viewport height */
    color: var(--primary);
    font-family: "lato";
}

body {
    background-color: white;
}

.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 100px;
    margin-right: 200px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: var(--primary);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--secondary);
    text-decoration: underline;
}

/* Sections */
.section {
    height: 100vh; /* Full screen height */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    padding: 50px;
}

#about {
    display: flex;
    flex-direction: row;
    align-items: left;
    /* /* justify-content: center;  */
    text-align: left;
    gap: 300px;
    padding-top: 150px;
}

.home-content {
    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: left;
    gap: 400px;
    z-index: 10;
    position: relative;
    top: 370px;
}


.title-txt {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: "700";
    font-size: 150px;
    color: var(--primary);
    font-style: normal;
    width: 1000px;
    line-height: normal;
    position: inherit;
    margin-top: -50px;
    
}
.night-mode-btn {
    width: 30px;
    margin-right: 200px;
    margin-top: 10px;
}

.night-mode-btn:hover{
    cursor: pointer;
}


.night-mode {
    background-color: var(--black);
    color: white;
}

.night-mode .title-txt {
    /* color: rgb(221, 217, 217); */
    filter: invert(100%);
}

.night-mode .navbar {
    background-color: var(--black);
}

.night-mode .night-mode-btn {
    filter: invert(100%);
}

.night-mode .nav-links a {
    filter: invert(100%)
    
}


.night-mode .lottie-animation {
    filter: invert(100%);
}


.txt-animation{

    width: 1140px !important; 
    z-index: -10; 
    padding-right: 50px;
    padding-left: 7px;
};

.about-me-txt {
    width: 500px;
}

.webdev-icon {
    width: 50px;
}
