:root {
    --dark-blue: #144E62;
    --light-blue: #03d4f4;
}

html, body {
    overflow: hidden; /* Prevent scrolling */
    height: 100%; /* Ensures the page doesn't exceed viewport height */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 0;
    margin-right: 500px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--light-blue);
}

/* Sections */
.section {
    height: 100vh; /* Full screen height */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    padding: 50px;
}

#home { background: #ffffff; }
#about { background: #ffffff; }
#work { background: #ffffff; }
#contact { background: #ffffff; color: white; }

.title-txt {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: "700";
    font-size: 100px;
    color: var(--dark-blue);
    font-style: normal;
    width: 400px;
}


  